@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url("fontawesome-all.min.css");

html, body, div, span, h1, h2, h3, h4, h5, h6, 
p, a, img, ol, ul, li, form, article, aside,
footer, header, menu, nav, section, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, footer, header, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	-webkit-text-size-adjust: none;
}

ol, ul {
	list-style: none;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: inherit;
}

h1, h2, h3, h4, h5, p, a {
	color: whitesmoke;
	font-family: 'Indie Flower', cursive;
}

body {
	background-image: url('background_large.jpg');
	background-position: center;
	background-size: cover;
}